h1 {
	font-family: fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
ul {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}
    img {
        width: 11%;
        height: auto;
    }
footer{
    background-image:
 url("https://media.rbl.ms/image?u=%2Ffiles%2F2015%2F10%2F08%2F6357986123594762461500486256_tumblr_mihwphYCa81rm67cno1_500.gif&ho=http%3A%2F%2Fcdn1.theodysseyonline.com&s=465&h=288664ce49aa8c96b00db825c13ac88f6136abb27b49f73c3f4b34da5c12864b&size=980x&c=4033461957");
    background-repeat: repeat-y
}
